<hr/>
<a href="/tracks">All tracks</a>
<hr/>

<h1><%= @track.song_title %></h1>

<p>
  Author: <%= @track.author %>
</p>

<a href="<%= @track.url %>"><%= @track.url %></a>

<% if @user %>
<% if @like == nil %>
<hr/>
<p>Like it</p>
<a href="/tracks/<%= @track.id %>/user/like"><img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-128.png" width="25 px", height="25 px"></a>
<%else%>
<%end%>

<hr/>
<div class='rate'>
  <p>Rate it</p>
  <a href="/tracks/<%= @track.id %>/rate/1"><img src="http://www.iconsplace.com/icons/preview/salmon/rating-star-256.png" width="25 px", height="25 px"></a>
  <a href="/tracks/<%= @track.id %>/rate/2"><img src="http://www.iconsplace.com/icons/preview/salmon/rating-star-256.png" width="25 px", height="25 px"></a>
  <a href="/tracks/<%= @track.id %>/rate/3"><img src="http://www.iconsplace.com/icons/preview/salmon/rating-star-256.png" width="25 px", height="25 px"></a>
  <a href="/tracks/<%= @track.id %>/rate/4"><img src="http://www.iconsplace.com/icons/preview/salmon/rating-star-256.png" width="25 px", height="25 px"></a>
  <a href="/tracks/<%= @track.id %>/rate/5"><img src="http://www.iconsplace.com/icons/preview/salmon/rating-star-256.png" width="25 px", height="25 px"></a>
</div>
<hr/>

<%else%>
 
    <p>Likes: <%= @track.likes.count %></p>
    <p>Rate: <%= 
    if @track.ratings.any?
      @track.ratings.average(:rate).round
    end %></p>

<%end%>
